:root {
    --circle-active: #83d062;
    --circle-inactive: #e2e0df;
    --circle-error: #a80f0f;
    --color-error: #a80f0f;
    --circle-error-lighter: #f32121;
    --color-error-lighter: #f32121;
    --color-inactive: #e2e0df;
    --color-active: black;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: monospace;
}

.root-flex-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.root-grid-container {
    display: grid;
    width: 99vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-sub-container {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    grid-template-rows: repeat(8, 30px);
    border: 2px dodgerblue solid;
    border-radius: 10px;
    gap: 3px;
    padding: 5px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7b8c4  ;
    border: 1px solid black;
    border-radius: 10px;
    transition: color ease-in 500ms;
    padding: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle > div {
    height: 85%;
    width: 55%;
    border-radius: 50%;
    transition: background-color ease-in 500ms;
}

.circle-active > div {
    background-color: var(--circle-active);
}

.circle-inactive > div {
    background-color: var(--circle-inactive);
}

.circle-error > div {
    background-color: var(--circle-error);
}

.circle-error-lighter > div {
    background-color: var(--circle-error-lighter);
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 8px;
}

.color-inactive {
    color: var(--color-inactive);
}

.color-active {
    color: var(--color-active);
    font-weight: bold;
}

.color-error {
    color: var(--color-error);
    font-weight: bold;
}

.color-error-lighter {
    color: var(--color-error-lighter);
    font-weight: bold;
}

.timer {
    color: dodgerblue;
}